# Goodreads

Goodreads is the world's largest site for readers and book recommedations with a mission of helping people to find and share books a lot.

# Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns 
import warnings
warnings.filterwarnings('ignore')

# Reading the file

In [2]:
df=pd.read_csv("goodreads.csv")
df

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,439785960,9.78044E+12,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,439358078,9.78044E+12,eng,870,2153167,29221,09-01-2004,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,439554896,9.78044E+12,eng,352,6333,244,11-01-2003,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9.78044E+12,eng,435,2339585,36325,05-01-2004,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,439682584,9.78044E+12,eng,2690,41428,164,9/13/2004,Scholastic
...,...,...,...,...,...,...,...,...,...,...,...,...
11122,45631,Expelled from Eden: A William T. Vollmann Reader,William T. Vollmann/Larry McCaffery/Michael He...,4.06,1560254416,9.78156E+12,eng,512,156,20,12/21/2004,Da Capo Press
11123,45633,You Bright and Risen Angels,William T. Vollmann,4.08,140110879,9.78014E+12,eng,635,783,56,12-01-1988,Penguin Books
11124,45634,The Ice-Shirt (Seven Dreams #1),William T. Vollmann,3.96,140131965,9.78014E+12,eng,415,820,95,08-01-1993,Penguin Books
11125,45639,Poor People,William T. Vollmann,3.72,60878827,9.78006E+12,eng,434,769,139,2/27/2007,Ecco
11126,45641,Las aventuras de Tom Sawyer,Mark Twain,3.91,8497646983,9.7885E+12,spa,272,113,12,5/28/2006,Edimat Libros

# Checking the datatypes

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11127 entries, 0 to 11126
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              11127 non-null  int64
 1   title               11127 non-null  object
 2   authors             11127 non-null  object
 3   average_rating      11127 non-null  object
 4   isbn                11127 non-null  object
 5   isbn13              11127 non-null  object
 6   language_code       11127 non-null  object
 7     num_pages         11127 non-null  object
 8   ratings_count       11127 non-null  int64
 9   text_reviews_count  11127 non-null  int64
 10  publication_date    11127 non-null  object
 11  publisher           11127 non-null  object
dtypes: int64(3), object(9)
memory usage: 1.0+ MB

# Detecting the null values

In [9]:
df.isnull().sum()

bookID                0
title                 0
authors               0
average_rating        0
isbn                  0
isbn13                0
language_code         0
  num_pages           0
ratings_count         0
text_reviews_count    0
publication_date      0
publisher             0
dtype: int64

# Column names

In [11]:
df.columns

Index(['bookID', 'title', 'authors', 'average_rating', 'isbn', 'isbn13',
       'language_code', '  num_pages', 'ratings_count', 'text_reviews_count',
       'publication_date', 'publisher'],
      dtype='object')

# Finding the missing values

In [13]:
df['average_rating'].unique()

array(['4.57', '4.49', '4.42', '4.56', '4.78', '3.74', '4.73', '4.38',
       '4.22', '4.21', '3.44', '3.87', '4.07', '3.9', '3.83', '3.86',
       '3.91', '3.93', '4.59', '4.5', '4.36', '4.53', '3.84', '3.72', '4',
       '3.88', '4.33', '3.45', '3.76', '3.6', '4.06', '4.17', '3.55',
       '3.98', '4.13', '3.95', '4.24', '4.34', '3.92', '4.23', '3.75',
       '3.94', '3.77', '4.46', '3.68', '3.99', '3.25', '3.89', '3.82',
       '3.78', '4.01', '4.35', '4.28', '3.34', '3.67', '3.48', '3.5',
       '3.62', '4.27', '3.39', '4.12', '4.08', '4.05', '3.85', '2.99',
       '4.19', '3.71', '4.2', '3.65', '3.4', '4.11', '3.42', '4.02',
       '3.69', '4.1', '3.66', '4.61', '4.04', '3.97', '4.14', '3.57',
       '3.43', '3.22', '3.64', '3.96', '3.8', '3.81', '3.79', '3.23',
       '4.15', '4.39', '4.03', '3.73', '3.51', '3.63', '3.09', '3.59',
       '4.29', '0', '4.25', '4.26', '3.61', '4.16', '4.55', '4.52',
       '3.41', '4.7', '4.18', '3.58', '4.51', '3.15', '3.31', '4.09',
       '3.49', '3.56', '4.47', '4.44', '3.7', '4.32', '4.4', '4.31',
       '4.43', '2.8', '3.46', '2.83', '4.62', '2.67', '4.45', '4.3', '5',
       '3.1', '3.08', '3.27', '3.33', '3', '4.67', '4.63', '3.52', '3.36',
       '3.54', '3.17', '4.37', '3.29', '4.64', '3.38', '3.37', '3.16',
       '3.53', '2.88', '2.98', '3.35', '3.3', '3.24', '4.41', '4.48',
       '4.54', '4.6', '3.32', '3.13', '2', '3.2', '4.58', '2.82', '3.28',
       '2.62', '2.92', '3.47', '3.02', '1', ' Jr./Sam B. Warner', '3.14',
       '3.12', '3.18', '2.86', '3.26', '3.19', '3.03', '3.07', '3.11',
       '4.91', '2.55', '2.81', '4.75',
       ' one of the founding members of this Tolkien website)/Verlyn Flieger/Turgon (=David E. Smith)',
       '3.21', '4.71', '4.8', '2.72', '2.79', '2.96', '2.75', ' Rawles',
       '4.86', '4.65', '2.5', '4.82', '4.76', '4.72', '4.69', '1.67',
       '3.06', '2.94', '2.89', '3.04', '2.4', '2.61', ' Son & Ferguson',
       '2.77', '2.63', '4.88', '4.83', '2.93', '2.33'], dtype=object)

# Replacing the texts with null values

In [15]:
df['average_rating'].replace(' Jr./Sam B. Warner',np.nan,inplace=True)

In [17]:
df['average_rating'].replace(' one of the founding members of this Tolkien website)/Verlyn Flieger/Turgon (=David E. Smith)',np.nan,inplace=True)

In [23]:
df['average_rating'].replace(' Rawles',np.nan,inplace=True)

In [25]:
df['average_rating'].replace(' Son & Ferguson',np.nan,inplace=True)

# Changing the datatype

In [27]:
df['average_rating']=df['average_rating'].astype(float)

# Calculating the mean

In [29]:
ar_mean=df['average_rating'].mean()

In [31]:
df['average_rating'].unique()

array([4.57, 4.49, 4.42, 4.56, 4.78, 3.74, 4.73, 4.38, 4.22, 4.21, 3.44,
       3.87, 4.07, 3.9 , 3.83, 3.86, 3.91, 3.93, 4.59, 4.5 , 4.36, 4.53,
       3.84, 3.72, 4.  , 3.88, 4.33, 3.45, 3.76, 3.6 , 4.06, 4.17, 3.55,
       3.98, 4.13, 3.95, 4.24, 4.34, 3.92, 4.23, 3.75, 3.94, 3.77, 4.46,
       3.68, 3.99, 3.25, 3.89, 3.82, 3.78, 4.01, 4.35, 4.28, 3.34, 3.67,
       3.48, 3.5 , 3.62, 4.27, 3.39, 4.12, 4.08, 4.05, 3.85, 2.99, 4.19,
       3.71, 4.2 , 3.65, 3.4 , 4.11, 3.42, 4.02, 3.69, 4.1 , 3.66, 4.61,
       4.04, 3.97, 4.14, 3.57, 3.43, 3.22, 3.64, 3.96, 3.8 , 3.81, 3.79,
       3.23, 4.15, 4.39, 4.03, 3.73, 3.51, 3.63, 3.09, 3.59, 4.29, 0.  ,
       4.25, 4.26, 3.61, 4.16, 4.55, 4.52, 3.41, 4.7 , 4.18, 3.58, 4.51,
       3.15, 3.31, 4.09, 3.49, 3.56, 4.47, 4.44, 3.7 , 4.32, 4.4 , 4.31,
       4.43, 2.8 , 3.46, 2.83, 4.62, 2.67, 4.45, 4.3 , 5.  , 3.1 , 3.08,
       3.27, 3.33, 3.  , 4.67, 4.63, 3.52, 3.36, 3.54, 3.17, 4.37, 3.29,
       4.64, 3.38, 3.37, 3.16, 3.53, 2.88, 2.98, 3.35, 3.3 , 3.24, 4.41,
       4.48, 4.54, 4.6 , 3.32, 3.13, 2.  , 3.2 , 4.58, 2.82, 3.28, 2.62,
       2.92, 3.47, 3.02, 1.  ,  nan, 3.14, 3.12, 3.18, 2.86, 3.26, 3.19,
       3.03, 3.07, 3.11, 4.91, 2.55, 2.81, 4.75, 3.21, 4.71, 4.8 , 2.72,
       2.79, 2.96, 2.75, 4.86, 4.65, 2.5 , 4.82, 4.76, 4.72, 4.69, 1.67,
       3.06, 2.94, 2.89, 3.04, 2.4 , 2.61, 2.77, 2.63, 4.88, 4.83, 2.93,
       2.33])

# Filling the null values with the mean

In [33]:
df['average_rating'].fillna(ar_mean,inplace=True)

In [35]:
df['average_rating'].unique()

array([4.57      , 4.49      , 4.42      , 4.56      , 4.78      ,
       3.74      , 4.73      , 4.38      , 4.22      , 4.21      ,
       3.44      , 3.87      , 4.07      , 3.9       , 3.83      ,
       3.86      , 3.91      , 3.93      , 4.59      , 4.5       ,
       4.36      , 4.53      , 3.84      , 3.72      , 4.        ,
       3.88      , 4.33      , 3.45      , 3.76      , 3.6       ,
       4.06      , 4.17      , 3.55      , 3.98      , 4.13      ,
       3.95      , 4.24      , 4.34      , 3.92      , 4.23      ,
       3.75      , 3.94      , 3.77      , 4.46      , 3.68      ,
       3.99      , 3.25      , 3.89      , 3.82      , 3.78      ,
       4.01      , 4.35      , 4.28      , 3.34      , 3.67      ,
       3.48      , 3.5       , 3.62      , 4.27      , 3.39      ,
       4.12      , 4.08      , 4.05      , 3.85      , 2.99      ,
       4.19      , 3.71      , 4.2       , 3.65      , 3.4       ,
       4.11      , 3.42      , 4.02      , 3.69      , 4.1       ,
       3.66      , 4.61      , 4.04      , 3.97      , 4.14      ,
       3.57      , 3.43      , 3.22      , 3.64      , 3.96      ,
       3.8       , 3.81      , 3.79      , 3.23      , 4.15      ,
       4.39      , 4.03      , 3.73      , 3.51      , 3.63      ,
       3.09      , 3.59      , 4.29      , 0.        , 4.25      ,
       4.26      , 3.61      , 4.16      , 4.55      , 4.52      ,
       3.41      , 4.7       , 4.18      , 3.58      , 4.51      ,
       3.15      , 3.31      , 4.09      , 3.49      , 3.56      ,
       4.47      , 4.44      , 3.7       , 4.32      , 4.4       ,
       4.31      , 4.43      , 2.8       , 3.46      , 2.83      ,
       4.62      , 2.67      , 4.45      , 4.3       , 5.        ,
       3.1       , 3.08      , 3.27      , 3.33      , 3.        ,
       4.67      , 4.63      , 3.52      , 3.36      , 3.54      ,
       3.17      , 4.37      , 3.29      , 4.64      , 3.38      ,
       3.37      , 3.16      , 3.53      , 2.88      , 2.98      ,
       3.35      , 3.3       , 3.24      , 4.41      , 4.48      ,
       4.54      , 4.6       , 3.32      , 3.13      , 2.        ,
       3.2       , 4.58      , 2.82      , 3.28      , 2.62      ,
       2.92      , 3.47      , 3.02      , 1.        , 3.93407534,
       3.14      , 3.12      , 3.18      , 2.86      , 3.26      ,
       3.19      , 3.03      , 3.07      , 3.11      , 4.91      ,
       2.55      , 2.81      , 4.75      , 3.21      , 4.71      ,
       4.8       , 2.72      , 2.79      , 2.96      , 2.75      ,
       4.86      , 4.65      , 2.5       , 4.82      , 4.76      ,
       4.72      , 4.69      , 1.67      , 3.06      , 2.94      ,
       2.89      , 3.04      , 2.4       , 2.61      , 2.77      ,
       2.63      , 4.88      , 4.83      , 2.93      , 2.33      ])

# Rechecking the datatypes

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11127 entries, 0 to 11126
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              11127 non-null  int64
 1   title               11127 non-null  object
 2   authors             11127 non-null  object
 3   average_rating      11127 non-null  float64
 4   isbn                11127 non-null  object
 5   isbn13              11127 non-null  object
 6   language_code       11127 non-null  object
 7     num_pages         11127 non-null  object
 8   ratings_count       11127 non-null  int64
 9   text_reviews_count  11127 non-null  int64
 10  publication_date    11127 non-null  object
 11  publisher           11127 non-null  object
dtypes: float64(1), int64(3), object(8)
memory usage: 1.0+ MB

### Total books written by Mark Twain.

In [35]:
len(df['title'].loc[(df['authors']=='Mark Twain')].sum())

115

### What is the average rating of Untouchable?

In [71]:
df['average_rating'].loc[(df['title']=='Untouchable')].sum()

3.71

### What is the isbn of A Winter Haunting (Seasons of Horror  #2)?
(isbn stands for International Standard Book Number, a unique identifier for the book edition.)

In [73]:
df['isbn'].loc[(df['title']=='A Winter Haunting (Seasons of Horror  #2)')].sum()

'380817160'

### Total number of pages in Love Letters.

In [39]:
df['  num_pages'].loc[(df['title']=='Love Letters')].sum()

'178'

### In which languages is The Known World written?

In [75]:
df['language_code'].loc[(df['title']=='The Known World')]

39        eng
40      en-US
41        eng
3193      eng
Name: language_code, dtype: object

In [43]:
df['language_code'].unique()

array(['eng', 'en-US', 'fre', 'spa', 'en-GB', 'mul', 'grc', 'enm',
       'en-CA', 'ger', 'jpn', 'ara', 'nl', 'zho', 'lat', 'por', 'srp',
       '9.78067E+12', 'ita', '9.78159E+12', 'rus', '9.78156E+12', 'msa',
       'glg', 'wel', 'swe', 'nor', '9.78085E+12', 'tur', 'gla', 'ale'],
      dtype=object)

### When was Beloved published?

In [67]:
df['publication_date'].loc[(df['title']=='Beloved')]

1742    06-08-2004
3074    10/17/2006
Name: publication_date, dtype: object

### Who are the authors of Siddhartha?

In [59]:
df['authors'].loc[(df['title']=='Siddhartha')]

1735           Hermann Hesse/Susan Bernofsky/Tom Robbins
1736    Hermann Hesse/Joachim Neugroschel/Ralph Freedman
1737                                       Hermann Hesse
3597                                       Hermann Hesse
Name: authors, dtype: object

### Books in the en-US language written by Robert A. Heinlein.

In [45]:
df['language_code'].unique()

array(['eng', 'en-US', 'fre', 'spa', 'en-GB', 'mul', 'grc', 'enm',
       'en-CA', 'ger', 'jpn', 'ara', 'nl', 'zho', 'lat', 'por', 'srp',
       '9.78067E+12', 'ita', '9.78159E+12', 'rus', '9.78156E+12', 'msa',
       'glg', 'wel', 'swe', 'nor', '9.78085E+12', 'tur', 'gla', 'ale'],
      dtype=object)

In [43]:
df.loc[(df['language_code']=='en-US') & (df['authors']=='Robert A. Heinlein')]

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
153,354,To Sail Beyond the Sunset,Robert A. Heinlein,3.87,441748600,9.78044E+12,en-US,434,10293,193,06-01-1988,Ace Books
154,355,Job: A Comedy of Justice,Robert A. Heinlein,3.78,345316509,9.78035E+12,en-US,439,15970,438,10-12-1985,Del Rey
4641,16685,The Cat Who Walks Through Walls (The World As ...,Robert A. Heinlein,3.70,441094996,9.78044E+12,en-US,388,19427,572,06-01-1988,Ace Books
4642,16686,The Fantasies of Robert A. Heinlein,Robert A. Heinlein,3.90,312875576,9.78031E+12,en-US,342,788,45,5/17/2002,Tor Books

### Find the no. of times The Age of Bronze (Pirates of the Caribbean: Jack Sparrow  #5) was published by Disney Press.

In [55]:
(df.loc[(df['title']=='The Age of Bronze (Pirates of the Caribbean: Jack Sparrow  #5)') & (df['publisher']=='Disney Press')])
#len(df.loc[(df['title']=='The Age of Bronze (Pirates of the Caribbean: Jack Sparrow  #5)') & (df['publisher']=='Disney Press')])

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
1686,5881,The Age of Bronze (Pirates of the Caribbean: J...,Rob Kidd/Walt Disney Company,4.05,1423101685,9.78142E+12,eng,144,548,14,12-01-2006,Disney Press

##### Answer : 1

### Find out the eng language books published by Grove Press.

In [63]:
df['title'].loc[(df['language_code']=='eng') & (df['publisher']=='Grove Press')].value_counts()

title
Quiet Days in Clichy                                                                                                                       1
Tropic of Cancer                                                                                                                           1
Great Expectations                                                                                                                         1
Rock 'n' Roll                                                                                                                              1
Lord Malquist and Mr. Moon                                                                                                                 1
The Eternal Frontier: An Ecological History of North America and Its Peoples                                                               1
Rosencrantz and Guildenstern Are Dead                                                                                                      1
Practicalities                                                                                                                             1
India Song                                                                                                                                 1
On Love                                                                                                                                    1
The Wild Boys                                                                                                                              1
Nova Express (The Nova Trilogy  #3)                                                                                                        1
Last Words: The Final Journals                                                                                                             1
The Soft Machine (The Nova Trilogy #1)                                                                                                     1
A Personal Matter                                                                                                                          1
The Gospel According to Luke                                                                                                               1
Charlie Wilson's War: The Extraordinary Story of How the Wildest Man in Congress and a Rogue CIA Agent Changed the History of our Times    1
Empire of the Senseless                                                                                                                    1
The House of Morgan: An American Banking Dynasty and the Rise of Modern Finance                                                            1
Cosmos and Pornografia: Two Novels                                                                                                         1
Cold Mountain                                                                                                                              1
Tropic of Capricorn                                                                                                                        1
Nexus (The Rosy Crucifixion  #3)                                                                                                           1
Sexus (The Rosy Crucifixion  #1)                                                                                                           1
Reservation Blues                                                                                                                          1
Four Blondes                                                                                                                               1
Naked Lunch                                                                                                                                1
This Boy's Life                                                                                                                            1
Sexing the Cherry                                                                                                                          1
The Labyrinth of Solitude and Other Writings                                                                                               1
The Bald Soprano and Other Plays                                                                                                           1
Three Plays: Exit the King / The Killer / Macbett                                                                                          1
Please Kill Me: The Uncensored Oral History of Punk                                                                                        1
Edie                                                                                                                                       1
The Passion                                                                                                                                1
Pedro Páramo                                                                                                                               1
Name: count, dtype: int64